[Desktop Entry]
Type=Application
Name=RAW2JPG
Icon=image
Exec=raw-to-jpg --gui
Comment=Convert RAW image files into JPGs
Categories=Graphics;Utility;
